name: velero
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{secrets.AWS_ACCESS_KEY_ID}}
        aws-secret-access-key: ${{secrets.AWS_SECRET_ACCESS_KEY}}
        aws-region: us-east-2

    - name: Install and configure kubectl
      run:
        curl -o kubectl https://s3.us-west-2.amazonaws.com/amazon-eks/1.23.7/2022-06-29/bin/linux/amd64/kubectl

    - name: Update Kubeconfig File
      run:
       aws eks update-kubeconfig --region us-east-1 --name velero
    - name: Install Helm
      run:  
        curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3
    - name: Install Velero
      run: |
        curl -L https://github.com/vmware-tanzu/velero/releases/download/v1.5.2/velero-v1.5.2-linux-amd64.tar.gz -o velero.tar.gz
        tar -xvzf velero.tar.gz
        sudo mv velero C:\ProgramFiles\Velero
        velero version


    - name: Install velero in eks
      run:  
        velero install --provider aws --plugins velero/velero-plugin-for-aws:v1.2.0 --bucket awseksbackup12 --backup-location-config region=us-east-1 --snapshot-location-config region=us-east-1 
